> # Dear Epsilon Students, 
> # The More you practice The better You'll Be.

### Instructions: 
- Make sure that you understand this topics before you start.
- If you found something hard to do, try and try then google it and finally ask someone. 
- You can divide this work into daily tasks so that you do not feel pressure.
- After you finish, go to model answer and rate yourself. 
- If you find something ambiguous, Try to make a hypothesis to solve a problem.

### Question classification: 
- Green is level 1 
- Orange is level 2 
- Red is level 3

# <center> Let's start 💪 </center>

## <p style="color:green;">Q.01 Write a function takes a two-word string and returns True if both words begin with same letter</p>
> ('Levelheaded Llama') → True

> ('Crazy Kangaroo') → False

In [10]:
# Answer here 
def both_words_begin_with_same_letter (text) :
  text=text.split(' ')
  if text[0][0] == text[-1][0]:
      print('True')
  else:
      print('False')
    
both_words_begin_with_same_letter('Crazy Kangaroo')

False

## <p style="color:green;">Q.02 Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd</p>

> (2,4) → 2

> (2,5) → 5

In [26]:
# Answer here 
def lesser_or_greater(num1,num2):
  for x,y in zip([num1],[num2]):
    if x%2==0 and y%2==0 :
      print(' the lesser is : {}'.format(x if x<y else y))
    else :
      print(' the greater is : {}'.format(x if x>y else y))

lesser_or_greater(2,5)

 the greater is : 5

## <p style="color:green;">Q.03 Write a function that capitalizes the first and fourth letters of a name</p>
> ('macdonald') → MacDonald

In [42]:
# Answer here 
def capitalize_first_and_four(string=''):
  new_str=[]
  for i in range(len(string)):
      new_str.append(string[i].upper()) if i == 0 or i == 3 else  new_str.append(string[i]) 
  new_str=''.join(new_str)
  print(new_str)

capitalize_first_and_four('macdonald')

MacDonald

## <p style="color:green;">Q.04 Given a sentence, return a sentence with the words reversed</p>
> ('I am home') → 'home am I'

In [54]:
# Answer here 
def reverse_str(str_=''):
  listOfStr_=str_.split(' ')
  new_str =' '.join(listOfStr_[::-1])
  print(f'your reverse string is : {new_str}')
  
reverse_str('I am home')

your reverse string is : home am I

## <p style="color:orange;">Q.05 Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.</p>
> has_33([1, 3, 3]) → True

> has_33([1, 3, 1, 3]) → False

In [68]:
# Answer here 
def has_33(list=[]):
  answer=''
  for i in range(len(list)-1):
    if list[i] == 3 and list[i+1] == 3 :
      answer = 'True'
  if answer=='':
     answer='False'
  print(answer) 
      
has_33([1, 3, 1,3])

False

## <p style="color:orange;">Q.06 BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'¶</p>

>blackjack(5,6,7) → 18

>blackjack(9,9,9) → 'BUST'

>blackjack(9,9,11) → 19

In [73]:
# Answer here 
def blackjack(list=[]):                                          #if you need def (x,y,z) we will do list=[x,y,z]
  if sum(list) <=21 :
    print(f' the sum = {sum(list)}')
  elif 11 in list :
    print (f' the sum - 10  = {sum(list)-10}')
  else:
    print('BUST')

blackjack([9,9,11])

 the sum - 10  = 19

## <p style="color:red;">Q.07 SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.</p>
>summer_69([1, 3, 5]) → 9

>summer_69([4, 5, 6, 7, 8, 9]) → 9

>summer_69([2, 1, 6, 9, 11]) → 14

In [119]:
# Answer here 
def summer_69(list=[]):
  new_list=0
  for i in list :
    if i ==6 :
      for o in range(list.index(6),list.index(9)+1):
          new_list-=list[o]
    new_list +=i
  print(new_list)
summer_69([2, 1, 6, 9, 11])

14

## <p style="color:red;">Q.08 SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order</p>

>spy_game([1,2,4,0,0,7,5]) → True

> spy_game([1,0,2,4,0,5,7]) → True

 >spy_game([1,7,2,0,4,5,0]) → False

In [139]:
# Answer here 
def spy_game(list=[]):
  test=[]
  for i in list:
    if i == 0 or i==7 :
      test.append(str(i))
  test=''.join(test)
  print('True' if test == '007'else 'False')

spy_game([1,7,2,0,4,5,0])

False

## <p style="color:green;">Q.09 Write a function that checks whether a number is in a given range (inclusive of high and low)</p>

In [152]:
# Answer here 
def num_in_range(num=0,low=0,high=0):
  print( num in range(low,high))

num_in_range(5,4,7)

True

## <p style="color:orange;">Q.10 Write a Python function to multiply all the numbers in a list.</p>
> Sample List : [1, 2, 3, -4]

> Expected Output : -24

In [153]:
# Answer here 
def multiply(list=[]):
  mult=1
  for i in list:mult*=i
  print(mult)

  
multiply( [1, 2, 3, -4])

-24

## <p style="color:red;">Q.11 Write a Python function that checks whether a passed string is palindrome or not.</p>
>Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [4]:
# Answer here 
def check(str_=''):
  print(f'hello {str_.strip()}' if str_.strip() in ['madam','nurses'] else 'error')

check(str_='madam  ')

hello madam

## <p style="color:green;">Q.12 Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument

In [10]:
# Answer here 
adds_15_to_a_number=lambda x:print(f' {x} + 15 = {x+15}')
adds_15_to_a_number(int(input('enter num : ')))

enter num : 5
 5 + 15 = 20

## <p style="color:green;">Q.13 create a lambda function that multiplies argument x with argument y and print the result.</p>

In [11]:
# Answer here 
mult_x_and_y=lambda x,y:print(f' {x} * {y} = {x*y}')
mult_x_and_y(int(input('enter num1 : ')),int(input('enter num2 : ')))

enter num1 : 5
enter num2 : 5
 5 * 5 = 25

## <p style="color:orange;">Q.14 Write a Python program to filter a list of integers using Lambda. </p>
> Original list of integers:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

> Even numbers from the said list:[2, 4, 6, 8, 10]

> Odd numbers from the said list:[1, 3, 5, 7, 9]

In [14]:
# Answer here 
def list_filter (list_=[]):
  Even_numbers = []
  Odd_numbers = []
  for num in list_:
    Even_numbers.append(num) if num%2==0 else Odd_numbers.append(num)
  print(f'''
      Even numbers from the said list : {Even_numbers}
      Odd numbers from the said list : {Odd_numbers}
      '''
  )

list_filter(list_=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

      Even numbers from the said list : [2, 4, 6, 8, 10]
      Odd numbers from the said list : [1, 3, 5, 7, 9]

In [18]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)
print("\nEven numbers from the said list:")
even_nums = list(filter(lambda x: x%2 == 0, nums))
print(even_nums)
print("\nOdd numbers from the said list:")
odd_nums = list(filter(lambda x: x%2 != 0, nums))
print(odd_nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Even numbers from the said list:
[2, 4, 6, 8, 10]

Odd numbers from the said list:
[1, 3, 5, 7, 9]

## <p style="color:green;">Q.15 Write a Python program to triple all numbers of a given list of integers. Use Python map.</p>

In [22]:
# Answer here 
list_triple = map(lambda x:x*3 ,[1, 3, 5, 7, 9] )
print(list(list_triple))

[3, 9, 15, 21, 27]

## <p style="color:orange;">Q.16 Write a Python program to add three given lists using Python map and lambda.

</p>

In [29]:
nums1 = [1, 2, 3] 
nums2 = [4, 5, 6] 
nums3 = [7, 8, 9] 
print("Original list: ")
print(nums1)  
print(nums2)  
print(nums3)  
result = map(lambda x, y, z: x + y + z, nums1, nums2, nums3) 
print("\nNew list after adding above three lists:")
print(list(result))

Original list:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

New list after adding above three lists:
[12, 15, 18]

## <p style="color:orange;">Q.17 Write a Python program to square the elements of a list using map() function.</p>

In [35]:
# Answer here 
result = map(lambda x:x**2, [5,6,8,9,7])
print(list(result))

[25, 36, 64, 81, 49]

## <p style="color:green;">Q.18 Using filter() function filter the list so that only negative numbers are left.</p>
> lst1  [12,-1,9,8,-.5,-.2,-100]

In [36]:
# Answer here
nums =[12,-1,9,8,-.5,-.2,-100]
positive_nums = list(filter(lambda x: x>= 0, nums))
print(list(positive_nums))

[12, 9, 8]

## <p style="color:green;">Q.19 Using filter function, filter the even numbers so that only odd numbers are passed to the new list.</p>
> lst1  [22,100,19,13,11,1,4,66]

In [37]:
# Answer here
nums=[22,100,19,13,11,1,4,66]
odd_nums = list(filter(lambda x: x%2 != 0, nums))
print(list(odd_nums))

[19, 13, 11, 1]

## <p style="color:green;">Q.20 Using map() and filter() functions add 2000 to the values below 8000.</p>
> lst [1000,500,600,700,5000,90000,17500]

In [41]:
# Answer here 
nums=[1000,500,600,700,5000,90000,17500]
list_nums = list(filter(lambda x: x<8000, nums))
list_new_nums =map(lambda x :x+2000,list_nums)
print(list(list_new_nums))

[3000, 2500, 2600, 2700, 7000]

# <center> Thank's for your effort ❤️ </center>